<div class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
       
        <header class="py-5">
            <div class="container px-5 pb-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-xxl-5">
                    
                        <div class="text-center text-xxl-start">
                            <div class="badge bg-gradient-primary-to-secondary text-dark mb-4"><div class="text-uppercase">Post &middot; Vote &middot; Socialise 😊</div></div>
                            <div class="fs-3 fw-light text-muted">Hey there!</div>
                            <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Wherever you are, LetsPost together!</span></h1>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" routerLink="/login">Login</a>
                                <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" routerLink="/sign-up">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                    
                        <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                            <div class="posts p-4 bg-light">
                             <app-post-list [type]="'public'" />
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="bg-light py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xxl-8">
                        <div class="text-center my-5">
                            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About LetsPost</span></h2>
                            <p class="lead fw-light mb-4">Where people meet and refresh!</p>
                            <p class="text-muted">Feeling alone? Dive into the world of <b>LetsPost</b>, where you can share your thoughts, vote on posts, and connect with like-minded individuals! Let's turn solitude into a vibrant community together!</p>
                            <div class="d-flex justify-content-center fs-2 gap-4">
                                <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a>
                                <a class="text-gradient" href="#!"><i class="bi bi-linkedin"></i></a>
                                <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-white py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto"><div class="small m-0">LetsPost</div></div>
                <div class="col-auto">
                    <a class="small" href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Terms</a>
                    <span class="mx-1">&middot;</span>
                    <a class="small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</div>