

<nav class="navbar navbar-expand-lg fixed-top tc-toolbar">
    <div class="container">
      <a class="navbar-brand text-gradient" routerLink="/home">LetsPost</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="active">My Posts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/posts" routerLinkActive="active">Public Posts</a>
          </li>

        </ul>
        <div class="d-flex justify-content-between" >
          <button class="btn  mx-1 cr-btn-round" (click)="logout()" >Sign Out</button>
        </div>
      </div>
    </div>
  </nav>