<div class="container-fluid chat-fluid">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 col-sm-12">
        <div class="jumbotron">
          <h1 class="display-4">Hello, There!</h1>
          <p class="lead">
            Don't miss out on any post! Share your thoughts and engage with us on
            all our platforms. <span class="text-warning">#StayConnected</span>
          </p>

          
          <hr class="my-4" />
          <p>
            Let's boost truth with every upvote and tackle misinformation with each downvote! 
          </p>
          <div class="row d-flex justify-between">
            <div class="col-md-12 scroll-section p-4">
            <app-post-list [type]="'other'" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  